name: ci

on:
  pull_request: ~
  push:
    branches: 
      - main

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        nvim: 
          - nightly
          - stable

    steps:
      - uses: actions/checkout@v5
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim }}
      - uses: leafo/gh-actions-lua@v12
        with:
          luaVersion: "5.1"
      - uses: leafo/gh-actions-luarocks@v6

      - name: Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm

      - name: Install dependencies
        run: |
          luarocks install vusted
          luarocks install luassert
          luarocks install luacheck
          npm ci
          npm run update

      - name: Check
        run: |
          npm run test
          npm run lint

  auto-format:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: "plugin lua"
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "style: run stylua"
          file_pattern: |
            lua/**/*.lua
